:root {
  --obvious: #FFEEDD;
  --dark: #336600;
  --shade: #eeedee;
}

html {
	background-color: var(--shade);
}

section, article, header, footer {
	background-color: white;
}

a:hover, .hovering {
	background-color: var(--dark);
	color: var(--obvious);
}