:root {
	--footerheight: 200px;
};

* {
  margin: 0;
}
html, body {
  height: 100%;
}
main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: calc( (var(--footerheight) * -1) - 1em ); 
}
main {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: var(--footerheight); 
}
footer {
  background: orange;
}